DATABRICKS_HOST=https://adb-7405610347978231.11.azuredatabricks.net
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/ipai-sql-warehouse-dev
DATABRICKS_TOKEN=
AZURE_OPENAI_ENDPOINT=https://oai-ipai-dev.openai.azure.com
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=gpt-4o
