# Exclude everything by default
**

# Include only what Dockerfile needs
!addons/
!addons/oca/
!addons/oca/**
!addons/ipai/
!addons/ipai/**
!config/
!config/prod/
!config/prod/**
!docker/
!docker/requirements/
!docker/requirements/**

# Exclude .git inside OCA repos (not needed in image)
addons/oca/*/.git
addons/oca/*/.github
addons/oca/*/setup
addons/oca/*/.pre-commit-config.yaml
addons/oca/*/.pylintrc
addons/oca/*/.pylintrc-mandatory
addons/oca/*/CONTRIBUTING.md
addons/oca/*/HISTORY.rst
