<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Asset Management Menu -->
    <menuitem
        id="menu_asset_root"
        name="Asset Management"
        parent="account.menu_finance_configuration"
        sequence="50"/>

    <menuitem
        id="menu_asset_categories"
        name="Asset Categories"
        parent="menu_asset_root"
        action="action_account_asset_category"
        sequence="10"/>

    <menuitem
        id="menu_assets"
        name="Fixed Assets"
        parent="account.menu_finance_receivables"
        action="action_account_asset"
        sequence="40"/>
</odoo>
