# Odoo
ODOO_DB_NAME=odoo_dev
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo

# Ports
WORKBENCH_DB_PORT=5433
WORKBENCH_ODOO_PORT=8069
WORKBENCH_SUPERSET_DB_PORT=5434
WORKBENCH_SUPERSET_PORT=8088

# Superset
SUPERSET_DB_NAME=superset
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
SUPERSET_SECRET_KEY=dev-only-change-me
